<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { mdiHistory, mdiLogout, mdiMenu, mdiHomeOutline, mdiCommentEditOutline } from '@mdi/js'
import { useAuthStore } from '@/stores/auth'
import { useUserStore } from '@/stores/user'
import { useRandomStore } from '@/stores/random'
import { usePostStore } from '@/stores/post'

const userStore = useUserStore()
const authStore = useAuthStore()
const router = useRouter()
const url = import.meta.env.VITE_URL_PORT
const postStore = usePostStore()
const randomStore = useRandomStore()

const isLogin = ref(false)
const drawer = ref(false)

const getUserFromLocalStorage = () => {
  const userString = localStorage.getItem('user')
  if (userString) {
    try {
      const userObject = JSON.parse(userString)
      userStore.setUser(userObject)
      isLogin.value = true
    } catch (e) {
      console.error('Failed to parse user from localStorage:', e)
      isLogin.value = false
    }
  } else {
    console.log('No user found in localStorage.')
    isLogin.value = false
  }
}

onMounted(async () => {
  getUserFromLocalStorage()
})

async function goToSeeAll() {
  router.push(`/`)
}
function goReport() {
  router.push(`/report-mantal`)
}

function goToDiary() {
  router.push('/diarys')
}

function toggleDrawer() {
  drawer.value = !drawer.value
}
</script>

<template>
  <v-navigation-drawer v-model="drawer" app>
    <v-list-item>
      <v-row justify="center" align="center">
        <v-col cols="auto" class="d-flex justify-center align-center">
          <v-avatar size="80px">
            <v-img src="/src/image/logo.png" contain></v-img>
          </v-avatar>
        </v-col>
      </v-row>
    </v-list-item>

    <v-list-item>
      <v-list-item-content>
        <v-list-item-title>ยินดีต้อนรับ คุณ {{ userStore.currentUser.username }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item
      v-if="userStore.currentUser.role === 'admin'"
      :prepend-icon="mdiHomeOutline"
      title="หน้าหลัก"
      @click="goReport"
    ></v-list-item>
    <v-list-item
      v-if="userStore.currentUser.role === 'volunteer'"
      :prepend-icon="mdiHomeOutline"
      title="หน้าหลัก"
      @click="goToDiary"
    >
    </v-list-item>

    <v-list-item
      v-if="userStore.currentUser.role !== 'volunteer' && userStore.currentUser.role !== 'admin'"
      :prepend-icon="mdiHomeOutline"
      title="หน้าหลัก"
      @click="goToSeeAll"
    >
    </v-list-item>

    <v-list-item
      v-if="userStore.currentUser.role === 'admin'"
      :prepend-icon="mdiCommentEditOutline"
      title="การจัดการโพสต์"
      @click="router.push('/post-management')"
    >
    </v-list-item>

    <v-list-item
      v-if="userStore.currentUser.role === 'volunteer'"
      :prepend-icon="mdiHistory"
      title="ประวัติไดอารี่"
      @click="router.push('/hisdiary')"
    ></v-list-item>

    <v-list-item
      v-if="userStore.currentUser.role !== 'volunteer' && userStore.currentUser.role !== 'admin'"
      :prepend-icon="mdiHistory"
      title="ประวัติการแท็ก"
      @click="router.push('/hisTag')"
    ></v-list-item>

    <v-list-item :prepend-icon="mdiLogout" title="ออกจากระบบ" @click="authStore.logout">
    </v-list-item>
  </v-navigation-drawer>

  <v-app-bar app color="#AAC8A7">
    <v-btn icon @click="toggleDrawer">
      <v-icon>{{ mdiMenu }}</v-icon>
    </v-btn>
    <v-toolbar-title class="bold-text">
      <h3 class="toolbar-title">การทำนายภาวะซึมเศร้าจากบันทึก</h3>
    </v-toolbar-title>
  </v-app-bar>
</template>

<style scoped>
.bold-text {
  font-weight: bold;
}

.custom-icon-size {
  font-size: 24px;
}

.user-info {
  flex-wrap: wrap;
  text-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .custom-icon-size {
    font-size: 20px;
  }

  .v-list-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .ml-5,
  .ml-2,
  .mr-5 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .user-info {
    text-align: center;
    width: 100%;
    justify-content: center;
  }

  .application {
    height: auto;
  }
}
</style>
