<script setup lang="ts"></script>
<template>
  <v-layout class="custom-layout" fluid>
    <v-main><RouterView></RouterView></v-main>
  </v-layout>
</template>

<style scoped>
.custom-layout {
  background-color: #F9F9E0;
  height: 100vh;
  width: 100vw; 
  margin: 0;
  padding: 0; 
  overflow: auto; 
}
</style>