<script setup lang="ts"></script>

<template>
  <v-layout class="custom-layout">
    <RouterView name="menu"></RouterView>
    <v-main><RouterView></RouterView></v-main>
  </v-layout>
</template>

<style scoped>
.custom-layout {
  background-color: #F9F9E0; 
  height: 100vh;
  width: 100vw;
}
</style>