<script lang="ts" setup>
import router from '@/router';
import { mdiHomeOutline} from '@mdi/js';

const goToMainPage = () => {
    router.push('/');
}
</script>
<template>
    <v-container class="centered-container">
        <v-row>
            <v-col cols="12" class="text-center">
                <v-img src="/public/person.png" :width="200" class="mx-auto"></v-img>
                <p style="font-size: xx-large;margin-bottom: 1%;">คุณไม่ได้รับอนุญาตให้เข้าสู่หน้าจอนี้ได้</p>
                <v-btn @click="goToMainPage()" :prepend-icon="mdiHomeOutline" >กลับไปหน้าหลัก</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<style scoped>
.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>