<template>
  <div class="container">
    <div class="form-container" :class="{ active: wrapperActive }">
      <div class="circle-container animated">
        <img src="../image/logo.png" alt="login-image" style="width: 100px; border-radius: 50%" />
      </div>
      <!-- wrapper -->
      <div class="wrapper" :class="{ active: wrapperActive }">
        <!-- wrapper login -->
        <div class="wrappr-login form-box">
          <h1 class="block text-center text-gray-700 text-4xl mb-5 font-bold mb-2 judson">LOGIN</h1>

          <div class="flex items-center rounded-full bg-gray-200 p-2 mb-3" style="display: flex">
            <i class="mdi mdi-account text-black mx-3 icon"></i>
            <input
              v-model="email"
              type="text"
              placeholder="Email"
              class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full"
            />
          </div>
          <!-- validate password -->

          <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5" style="display: flex">
            <i class="mdi mdi-lock text-black mx-3 icon"></i>
            <input
              v-model="password"
              :type="showPassword ? 'text' : 'password'"
              placeholder="Password"
              class="password-input bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700"
            />
            <button @click.prevent="showPassword = !showPassword" class="text-sm text-gray-700 eye">
              <i :class="showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off'"></i>
            </button>
          </div>
          <div class="text-center">
            <!-- Centering the login button -->
            <v-btn
              @click="login"
              color="green-lighten-4"
              variant="elevated"
              style="border-radius: 10px; height: 40px; width: 100%; margin-top: 5px"
            >
              LOGIN
            </v-btn>
          </div>

          <v-btn
            color="red-lighten-3"
            @click="reset"
            variant="elevated"
            style="margin-top: 10px; border-radius: 10px; width: 100%"
            >RESET</v-btn
          >

          <div class="register-box">
            <p>
              Don't have an account?
              <a @click.prevent="navigateToRegister">Go to Register</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { useUserStore } from '@/stores/user'
import Swal from 'sweetalert2'
import { useRouter } from 'vue-router'
export default {
  setup() {
    const username = ref('')
    const email = ref('')
    const password = ref('')
    const authStore = useAuthStore()
    const userStore = useUserStore()
    const showPassword = ref(false)
    const emailRegister = ref('')
    const passwordRegister = ref('')
    const router = useRouter()

    const login = async () => {
      try {
        await authStore.login(email.value, password.value)
        if (userStore.currentUser.id > 0 && userStore.currentUser.email === email.value) {
          Swal.fire({
            icon: 'success',
            title: 'เข้าสู่ระบบสำเร็จ!',
            text: `ยินดีต้อนรับเข้าสู่ระบบ คุณ ${userStore.currentUser.username}`,
            showConfirmButton: false,
            timer: 1500
          })
        } else {
          Swal.fire({
            icon: 'error',
            title: 'เข้าสู่ระบบล้มเหลว',
            text: 'เข้าสู่ระบบไม่สำเร็จ โปรดลองใหม่อีกครั้ง'
          })
          email.value = ''
          password.value = ''
        }
      } catch (error) {
        console.error('Error during login:', error)

        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'An error occurred during login. Please try again later.'
        })
      }
    }

    const reset = () => {
      username.value = ''
      email.value = ''
      password.value = ''
      emailRegister.value = ''
      passwordRegister.value = ''
    }

    const register = async () => {
      try {
        const user = await authStore.register(
          emailRegister.value,
          passwordRegister.value,
          username.value
        )

        if (user) {
          toggleWrapper()
          alert('register successful')
        } else {
          console.log('register failed')
        }
      } catch (error) {
        console.error('Error during register:', error)
      }
    }

    const wrapperActive = ref(false)

    const toggleWrapper = () => {
      wrapperActive.value = !wrapperActive.value
    }

    const validatePassword = () => {
      const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,12}$/
      const isValid = passwordRegex.test(passwordRegister.value)
      if (!isValid) {
        // alert(
        //   'Password must contain at least one lowercase letter, one uppercase letter, one number, one special character, and be 8-12 characters long.'
        // )
        Swal.fire({
          icon: 'error',
          title: 'Password ไม่ถูกต้อง',
          text: 'Password จะต้องประกอบไปด้วย ตัวอักษรพิมพ์เล็ก ตัวอักษรพิมพ์ใหญ่ ตัวเลข อักขระพิเศษ และมีความยาว 8-12 ตัวอักษร'
        })
      }
      return isValid
    }
    const navigateToRegister = () => {
      router.push('/prelogin')
    }
    return {
      username,
      email,
      password,
      login,
      reset,
      register,
      showPassword,
      wrapperActive,
      toggleWrapper,
      emailRegister,
      passwordRegister,
      validatePassword,
      navigateToRegister
    }
  }
}
</script>

<style scoped>
@media (max-width: 767.98px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .form-container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container {
    height: auto;
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 100vh;
    padding: 0;
  }
}

input {
  width: 100%;
}

input:focus {
  outline: none;
}

.animated img {
  animation: moveImage 2s ease-in-out infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9ad3bc, #d7f0c4, #cff6e0, #cbc8f3);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  background-color: #f6f1f1;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  height: 31rem;
  transition: height 0.2s ease;
}

.circle-container {
  text-align: center;
  margin-bottom: 20px;
}

.circle-image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.register-box {
  margin: 25px 0 10px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
}

.register-box p a {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}

.register-box p a:hover {
  text-decoration: underline;
}

.wrapper {
  position: relative;
  display: flex;
  /* เอาส่วนนอกกรอบแอบ */
  overflow: hidden;
}

.wrapper .form-box {
  width: 100%;
}

.wrapper .wrappr-login.form-box {
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.18s ease;
  /* display: none; */
}

.wrapper .wrappr-register.form-box {
  transform: translateX(400px);
  position: absolute;
}

.wrapper.active .wrappr-login.form-box {
  transition: none;
  transform: translateX(-400px);
}

.wrapper.active .wrappr-register.form-box {
  transform: translateX(0);
  transition: transform 0.18s ease;
}

.form-container.active {
  height: 33rem;
}

.FiedIdpass .error p {
  font-size: 11px;
  color: red;
  padding: 5px 25px 0;
}

.flex {
  position: relative;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  height: 3rem;
}

.password-input {
  width: 90%;
  padding-right: 33px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  align-self: center;
  font-size: 25px;
}
</style>
