<template>
  <div class="container">
    <div v-if="!showNewCard">
      <div class="welcome-text">ยินดีต้อนรับสู่โครงการ</div>
      <div class="circle-container animated">
        <img src="../image/logo.png" alt="login-image" class="circle-image" />
      </div>
    </div>
    <div v-if="cardVisible" class="form-container">
      <div class="text-center">
        <h3>โครงการโรคซึมเศร้า</h3>
        <p>
          เป็นโครงการที่มีวัตถุประสงค์เพื่อศึกษารูปแบบและปัจจัยที่มีผลต่อโรคซึมเศร้าในสังคมปัจจุบัน
          โครงการนี้จะมีกลุ่มผู้ร่วมโครงการ 3 กลุ่มที่ทำหน้าที่แตกต่างกัน
          เพื่อรวบรวมข้อมูลและทำความเข้าใจเกี่ยวกับโรคซึมเศร้าในมุมมองที่หลากหลาย
        </p>
        <div class="checkbox-container" style="margin-top: 10px">
          <input type="checkbox" id="privacy-policy" v-model="acceptedPolicy" />
          <label for="privacy-policy">
            ฉันยืนยันว่าฉันได้อ่านและยอมรับ <a href="#" target="_blank">นโยบายความเป็นส่วนตัว</a>
          </label>
        </div>
        <v-btn
          :disabled="!acceptedPolicy"
          color="green lighten-4"
          variant="elevated"
          style="border-radius: 10px; height: 40px; width: 100%; margin-top: 5px"
          @click="accept"
        >
          ยืนยัน
        </v-btn>
      </div>
    </div>
    <div v-if="showNewCard">
      <div class="top-left-corner">
        <img src="../image/undo.png" width="50" @click="tologin()" draggable="false" />
      </div>
      <div class="desktop-view">
        <v-row class="d-flex justify-center mt-4"
          ><v-card-title class="welcome-text">บทบาทผู้เข้าร่วมโครงการ</v-card-title></v-row
        >
        <v-row>
          <v-col cols="4">
            <v-card class="custom-card hover-card" height="400px">
              <v-img
                src="diversity.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Tag</div>
                <h3>บุคคลทั่วไปที่มีบทบาทมาช่วยในการแท็กข้อมูล</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="personnel"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card class="custom-card hover-card" height="400px">
              <v-img
                src="medical-team.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Tag</div>

                <h3>บุคคลทางการแพทย์ที่มีบทบาทมาช่วยในการแท็กข้อมูล</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="researcher"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="4">
            <v-card class="custom-card hover-card" height="400px">
              <v-img
                src="help.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Diary</div>
                <h3>อาสาสมัครวิทยาการสารสนเทศ บันทึกความรู้สึก</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="volunteer"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>

      <div class="mobile-view">
        <v-row class="d-flex justify-center mt-4"
          ><v-card-title class="welcome-text">บทบาทผู้เข้าร่วมโครงการ</v-card-title></v-row
        >
        <v-carousel>
          <v-carousel-item>
            <v-card class="custom-card">
              <v-img
                src="diversity.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Tag</div>
                <h3>บุคคลทั่วไปที่มีบทบาทมาช่วยในการแท็กข้อมูล</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="personnel"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-carousel-item>
          <v-carousel-item>
            <v-card class="custom-card">
              <v-img
                src="medical-team.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Tag</div>
                <h3>บุคคลทางการแพทย์ที่มีบทบาทมาช่วยในการแท็กข้อมูล</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="researcher"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-carousel-item>
          <v-carousel-item>
            <v-card class="custom-card">
              <v-img
                src="help.png"
                class="white--text align-end"
                height="200px"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              ></v-img>
              <v-card-text class="text-center">
                <div class="new-badge">Diary</div>
                <h3>อาสาสมัครวิทยาการสารสนเทศ บันทึกความรู้สึก</h3>
                <v-btn
                  :disabled="!acceptedPolicy"
                  color="primary"
                  class="custom-button"
                  @click="volunteer"
                >
                  ลงทะเบียน
                </v-btn>
              </v-card-text>
            </v-card>
          </v-carousel-item>
        </v-carousel>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()
const cardVisible = ref(false)
const showNewCard = ref(false)
const acceptedPolicy = ref(false)
onMounted(() => {
  cardVisible.value = true
})
const accept = () => {
  if (acceptedPolicy.value) {
    cardVisible.value = false
    showNewCard.value = true
  }
}
const personnel = () => {
  if (acceptedPolicy.value) {
    router.push({ name: 'registerPersonnel' })
  }
}
const researcher = () => {
  if (acceptedPolicy.value) {
    router.push({ name: 'registerres' })
  }
}
const volunteer = () => {
  if (acceptedPolicy.value) {
    router.push({ name: 'registervol' })
  }
}

async function tologin() {
  await router.push('/login')
}
</script>
<style scoped>
.animated img {
  animation: moveImage 2s ease-in-out infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.carousel-item {
  height: 400px;
}

.custom-card {
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(85, 72, 72, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin: auto;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0.5s;
}

@media (max-width: 1200px) {
  .custom-card {
    max-width: 250px;
  }
}

.custom-card img {
  object-fit: cover;
}

.text-center h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}

.text-center p {
  font-size: 1rem;
  font-weight: normal;
  margin: 16px 0;
}

.new-badge {
  display: inline-flex;
  background-color: #ff5a5f;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  align-items: center;
}

.hover-card {
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.hover-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circle-image {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 16px;
}

.desktop-view {
  display: block;
}

.mobile-view {
  display: none;
  overflow: hidden;
}

@media (max-width: 767px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9ad3bc, #d7f0c4, #cff6e0, #cbc8f3);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.welcome-text {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.form-container {
  background-color: #f6f1f1;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  margin: 20px auto;
}

.circle-container {
  text-align: center;
  margin-bottom: 20px;
}

.circle-image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}
.v-btn {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  margin-top: 10px;
}
.checkbox-container {
  margin-top: 10px;
  text-align: left;
}

.checkbox-container label {
  font-size: 0.9rem;
  font-weight: normal;
}
.checkbox-container input {
  margin-right: 10px;
}

.v-carousel {
  margin: 0 -10px;
}

.form-container.active {
  height: 33rem;
}

.text-center {
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 600px) {
  .welcome-text {
    font-size: 18px;
  }

  .circle-image {
    width: 100px;
    height: 100px;
  }

  .form-container {
    padding: 10px;
  }

  .checkbox-container {
    font-size: 14px;
  }

  .confirm-button {
    height: 35px;
  }
}

.top-left-corner {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.top-left-corner:hover {
  filter: drop-shadow(1px 1px 5px #4444dd) brightness(90%);
  transition: filter 0.2s ease-in-out;
}

.top-left-corner:active {
  filter: drop-shadow(1px 1px 5px #4444dd) brightness(65%);
  transition: filter 0.2s ease-out;
}
</style>
