<script lang="ts">
import { ref } from 'vue'
import { useAuthStore } from '@/stores/auth'
import router from '@/router'
import Swal from 'sweetalert2'

export default {
  setup() {
    const username = ref('')
    const email = ref('')
    const password = ref('')
    const authStore = useAuthStore()
    const showPassword = ref(false)
    // user & email & password of register
    const emailRegister = ref('')
    const passwordRegister = ref('')

    const reset = () => {
      username.value = ''
      email.value = ''
      password.value = ''
      emailRegister.value = ''
      passwordRegister.value = ''
    }

    const registervol = async () => {
      try {
        if (!validateUser()) {
          Swal.fire({
            icon: 'error',
            title: 'User ไม่ถูกต้อง',
            text: 'User ต้องมีความยาวมากกว่า 3 ตัวอักษร'
          })
          return
        }

        if (!validateEmail()) {
          Swal.fire({
            icon: 'error',
            title: 'Email ไม่ถูกต้อง',
            text: 'กรุณากรอก Email ให้ถูกต้อง'
          })
          return
        }

        if (!validatePassword()) {
          Swal.fire({
            icon: 'error',
            title: 'Password ไม่ถูกต้อง',
            text: 'Password จะต้องประกอบไปด้วย ตัวอักษรพิมพ์เล็ก ตัวอักษรพิมพ์ใหญ่ ตัวเลข อักขระพิเศษ และมีความยาวประมาณ 8-12 ตัวอักษร'
          })
          return
        }

        const user = await authStore.registervol(
          emailRegister.value,
          passwordRegister.value,
          username.value
        )

        if (user) {
          Swal.fire({
            icon: 'success',
            title: 'การลงทะเบียนเสร็จสิ้น!',
            text: 'คุณสามารถเข้าสู่ระบบด้วยข้อมูลของคุณได้แล้ว'
          }).then(() => {
            // Redirect to login page
            router.push('/login')
            // Or reset form fields
            reset()
          })
        } else {
          Swal.fire({
            icon: 'error',
            title: 'การลงทะเบียนล้มเหลว!',
            text: 'การลงทะเบียนล้มเหลว โปรดลองอีกครั้ง'
          }).then(() => {
            // Reset form fields
            reset()
          })
        }
      } catch (error) {
        console.error('Error during register:', error)
        // Show error message using SweetAlert2
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: 'เกิดข้อผิดพลาดระหว่างการลงทะเบียน โปรดลองอีกครั้งในภายหลัง'
        })
      }
    }

    const validateUser = () => {
      if (username.value.length <= 3) {
        username.value = ''
        return false
      }
      return true
    }

    const validateEmail = () => {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
      if (!emailRegex.test(emailRegister.value)) {
        emailRegister.value = ''
        return false
      }
      return true
    }

    const validatePassword = () => {
      const passwordRegex =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&#.#])[A-Za-z\d@$!%*?&#.#]{8,12}$/
      const isValid = passwordRegex.test(passwordRegister.value)
      if (!isValid) {
        passwordRegister.value = ''
        return false
      }
      return true
    }

    async function toPrelogin() {
      await router.push('/prelogin')
    }

    return {
      username,
      email,
      password,
      reset,
      registervol,
      showPassword,
      emailRegister,
      passwordRegister,
      validatePassword,
      validateEmail,
      validateUser,
      toPrelogin
    }
  }
}
</script>

<template>
  <div class="container">
    <div class="form-container">
      <div class="circle-container animated">
        <img src="/public/help.png" alt="login-image" style="width: 100px; border-radius: 50%" />
      </div>

      <!-- wrapper register -->
      <div class="form-box">
        <h1 class="block text-center text-gray-700 text-4xl font-bold judson">ลงทะเบียน</h1>
        <h3 class="text-center text-gray-700 mb-4">สำหรับ Volunteer</h3>
        <div class="flex items-center rounded-full bg-gray-200 p-2 mb-3" style="display: flex">
          <i class="mdi mdi-account text-black mx-3 icon"></i>
          <input
            v-model="username"
            type="text"
            placeholder="User"
            class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full password-input"
          />
        </div>
        <div class="flex items-center rounded-full bg-gray-200 p-2 mb-3" style="display: flex">
          <i class="mdi mdi-email text-black mx-3 icon"></i>
          <input
            v-model="emailRegister"
            type="text"
            placeholder="Email"
            class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full password-input"
          />
        </div>
        <div class="flex items-center rounded-full bg-gray-200 p-2 mb-5" style="display: flex">
          <i class="mdi mdi-lock text-black mx-3 icon"></i>
          <input
            v-model="passwordRegister"
            :type="showPassword ? 'text' : 'password'"
            placeholder="Password"
            class="bg-gray-200 outline-none border-gray-200 focus:ring-gray-200 focus:border-gray-200 text-gray-700 w-full password-input"
          />
          <button @click.prevent="showPassword = !showPassword" class="text-sm text-gray-700 eye">
            <i :class="showPassword ? 'mdi mdi-eye' : 'mdi mdi-eye-off'"></i>
          </button>
        </div>

        <div class="text-center">
          <!-- Centering the login button -->
          <v-btn
            @click="registervol"
            color="green-lighten-4"
            variant="elevated"
            style="border-radius: 10px; height: 40px; width: 100%"
          >
            ยืนยันการลงทะเบียน
          </v-btn>
        </div>

        <v-btn
          color="red-lighten-3"
          @click="reset"
          variant="elevated"
          style="margin-top: 10px; border-radius: 10px; width: 100%"
          >RESET</v-btn
        >

        <v-btn
          color="blue-lighten-3"
          @click="toPrelogin()"
          variant="elevated"
          style="margin-top: 10px; border-radius: 10px; width: 100%"
          >ย้อนกลับ</v-btn
        >
      </div>
    </div>
  </div>
</template>

<style scoped>
@media (max-width: 767.98px) {
  .container {
    height: auto;
    padding: 20px;
  }

  .form-container {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .container {
    height: auto;
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 100vh;
    padding: 0;
  }
}

input {
  width: 90%;
}

input:focus {
  outline: none;
}

.animated img {
  animation: moveImage 2s ease-in-out infinite alternate;
}

@keyframes moveImage {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #9ad3bc, #d7f0c4, #cff6e0, #cbc8f3);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  background-color: #f6f1f1;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 400px;
  height: 36rem;
  transition: height 0.2s ease;
}

.circle-container {
  text-align: center;
  margin-bottom: 20px;
}

.circle-image {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.register-box {
  margin: 25px 0 10px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
}

.register-box p a {
  color: #000000;
  text-decoration: none;
  font-weight: 900;
}

.register-box p a:hover {
  text-decoration: underline;
}

.form-container.active {
  height: 33rem;
}

.FiedIdpass .error p {
  font-size: 11px;
  color: red;
  padding: 5px 25px 0;
}

.flex {
  position: relative; /* กำหนดให้ container นี้เป็น relative */
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  height: 3rem;
}

.password-input {
  width: 90%;
  padding-right: 33px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  align-self: center;
  font-size: 25px;
}
</style>
