<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRoute } from 'vue-router'
import { usePostStore } from '@/stores/post'
import { useUserStore } from '@/stores/user'
import router from '@/router'
import moment from 'moment'
import { VuemojiPicker } from 'vuemoji-picker'
import Swal from 'sweetalert2'
import type { VuemojiPickerStyle, EmojiClickEventDetail } from 'vuemoji-picker'
import { mdiEmoticonHappyOutline, mdiEmoticonNeutralOutline } from '@mdi/js'

const charCountContent = ref(0)
const content = ref<string>('')
const postStore = usePostStore()
const route = useRoute()
const isEditMode = ref(false)
const routeId = parseInt(route.params.id as string)
const userStore = useUserStore()
const date = moment.tz('Asia/Bangkok').format('DD-MM-YYYY')

// Emoji picker
const showEmojiPicker = ref(false)
const style = ref<VuemojiPickerStyle>({
  height: '400px',
  width: '400px'
})

const toggleEmojiPicker = () => {
  showEmojiPicker.value = !showEmojiPicker.value
}

const onEmojiClick = (detail: EmojiClickEventDetail) => {
  content.value += detail.unicode
  countCharactersContent({ target: { value: content.value } } as unknown as InputEvent)
}

const countCharactersContent = (event: InputEvent) => {
  const text = (event.target as HTMLTextAreaElement).value
  charCountContent.value = Array.from(text).length

  if (charCountContent.value > 5000) {
    content.value = content.value.slice(0, 5000)
    charCountContent.value = 5000
  }
}

// Load content if editing an existing post
onMounted(async () => {
  if (routeId) {
    await postStore.getPostById(routeId)
    isEditMode.value = true
    content.value = postStore.post?.txtContent || ''
    console.log(content.value)
  }
})

const submit = async () => {
  try {
    const user_id = userStore.currentUser?.id
    if (!user_id || !content.value) {
      Swal.fire({
        icon: 'error',
        title: 'Error',
        text: !user_id ? 'User ID is null or undefined' : 'กรุณากรอกข้อความ'
      })
      return
    }

    if (isEditMode.value) {
      await postStore.editDiary(routeId, content.value)
      Swal.fire({ icon: 'success', title: 'Success', text: 'แก้ไขข้อมูลสำเร็จ' })
      await postStore.getPosts(userStore.currentUser.id)
    } else {
      await postStore.postDiary(content.value, user_id)
      Swal.fire({ icon: 'success', title: 'Success', text: 'บันทึกข้อมูลสำเร็จ' })
      await postStore.getPosts(userStore.currentUser.id)
      content.value = ''
    }
  } catch (error) {
    console.error('Error during Submit:', error)
    Swal.fire({ icon: 'error', title: 'Error', text: 'An error occurred during submission.' })
  }
}
</script>

<template>
  <v-container class="post" fluid>
    <v-row justify="center">
      <v-col cols="9" md="8" lg="6">
        <v-row>
          <v-col>
            <v-card class="card mt-16">
              <div class="content">
                <div class="fill-header">
                  <h1>บันทึกประจำวัน วันที่ {{ date }}</h1>
                  <div class="fill-emoji">
                    <span>ความรู้สึกของคุณในวันนี้เป็นอย่างไร?</span>
                    <v-btn @click="toggleEmojiPicker">
                      <v-icon>{{
                        showEmojiPicker ? mdiEmoticonHappyOutline : mdiEmoticonNeutralOutline
                      }}</v-icon>
                    </v-btn>
                  </div>
                </div>
                <div class="fill-input">
                  <v-textarea
                    v-model="content"
                    placeholder="ตัวอย่าง : วันนี้ฉันรู้สึกสงบและสุข..."
                    outlined
                    auto-grow
                    :counter="5000"
                    @input="countCharactersContent"
                  ></v-textarea>
                  <span
                    ><br />* พิมพ์ข้อความได้ไม่เกิน 5,000 ตัวอักษร ({{ charCountContent }} /
                    5000)</span
                  >
                </div>
              </div>
            </v-card>
            <div class="d-flex justify-end mt-3">
              <v-btn :color="isEditMode ? 'blue' : 'success'" @click="submit">{{
                isEditMode ? 'ยืนยันการแก้ไข' : 'ยืนยัน'
              }}</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-dialog v-model="showEmojiPicker" max-width="500px">
      <v-card>
        <VuemojiPicker
          :picker-style="{ height: '500px', width: '100%' }"
          @emojiClick="onEmojiClick"
        />
      </v-card>
    </v-dialog>
  </v-container>
</template>

<style scoped>
.fill-emoji {
  justify-content: space-between;
  display: flex;
}

.card {
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content {
  padding: 1rem;
}

.fill-header {
  margin-bottom: 10px;
}

.fill-input #content_ {
  width: 100%;
  height: 40vh;
  border: solid 1px #000000;
}

textarea {
  text-align: left;
  padding-left: 10px;
}

.btn-edit {
  padding: 0.5rem 0;
  align-self: flex-end;
}

.emoji-picker-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
</style>
