<script setup lang="ts">
import router from '@/router'
import { onMounted, onUnmounted, ref, watch, computed } from 'vue'
import { usePostStore } from '@/stores/post'
import { useUserStore } from '@/stores/user'
import moment from 'moment-timezone'

const postStore = usePostStore()
const userStore = useUserStore()

const menu2 = ref(false)
const rawDate = ref<string | null>(null)
const date = ref<string | null>(null)

const datetimes = ref<string>(moment.tz('Asia/Bangkok').format('YYYY-MM-DD HH:mm:ss'))
const search = ref<string>('')

// Pagination state
const currentPage = ref(1)
const itemsPerPage = 3

// Update current time every 1 second
const updateDateTime = () => {
  datetimes.value = moment.tz('Asia/Bangkok').format('YYYY-MM-DD HH:mm:ss')
}
const intervalId = setInterval(updateDateTime, 1000)

onMounted(async () => {
  await postStore.getPostBySource(userStore.currentUser.id)
  await postStore.diarys
  updateDateTime()
})

onUnmounted(() => {
  clearInterval(intervalId)
})

function goToEditDiary(idPost: number) {
  router.push('/diary' + '/' + idPost)
  console.log(idPost)
}

const datetime = moment.tz('Asia/Bangkok').format('YYYY-MM-DD HH:mm:ss')

const isDateTimeExceeds20Minutes = (itemDatetime: string) => {
  const parsedDatetime = moment.tz(itemDatetime, 'Asia/Bangkok')
  const diffMinutes = parsedDatetime.diff(datetime, 'minutes')
  return Math.abs(diffMinutes) >= 20
}

const isDateTimeLessThanOrEqual20Minutes = (itemDatetime: string) => {
  return !isDateTimeExceeds20Minutes(itemDatetime)
}

const goSearch = () => {
  currentPage.value = 1
  postStore.getPostBySource(userStore.currentUser.id, search.value, date.value)
}

// Watch rawDate and update date when rawDate changes
watch(rawDate, (newDate) => {
  if (newDate) {
    date.value = moment.tz(newDate, 'Asia/Bangkok').format('YYYY-MM-DD')
    menu2.value = false
    goSearch()
  } else {
    date.value = null
    goSearch()
  }
})

const resetDatePicker = () => {
  rawDate.value = null
  date.value = null
}
const paginatedDiaries = computed(() => {
  const start = (currentPage.value - 1) * itemsPerPage
  const end = start + itemsPerPage
  return postStore.diarys.slice(start, end)
})
</script>

<template>
  <v-container
    class="mt-12 application"
    style="background-color: #f9f9e0; height: auto; width: 100vw"
    fluid
  >
    <v-row>
      <v-col cols="12">
        <h2>ประวัติการบันทึกประจำวัน</h2>
      </v-col>
      <v-col cols="12">
        <h3>{{ datetimes }}</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6">
        <v-text-field
          label="ค้นหาจากเนื้อหา"
          variant="solo"
          hide-details="auto"
          class="mb-2 w-100"
          v-model="search"
          @input="goSearch"
        ></v-text-field>
      </v-col>
      <v-col cols="12" md="6">
        <v-menu
          v-model="menu2"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ props }">
            <v-row no-gutters>
              <v-col cols="10">
                <v-text-field
                  variant="solo"
                  v-model="date"
                  label="ค้นหาจากวันที่"
                  readonly
                  v-bind="props"
                  @input="goSearch"
                ></v-text-field>
              </v-col>
              <v-col cols="2" class="d-flex align-center">
                <v-btn @click="resetDatePicker" color="red" class="ml-3 mb-5" width="45" height="45"
                  >Reset</v-btn
                >
              </v-col>
            </v-row>
          </template>
          <v-date-picker v-model="rawDate"></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="responsive-card" style="background-color: #aac8a7; overflow-y: auto">
          <v-card-text>
            <template v-if="paginatedDiaries && paginatedDiaries.length">
              <v-card v-for="(item, index) of paginatedDiaries" :key="index" class="mb-3">
                <v-card-text style="margin-left: 1%; margin-right: 3%">
                  <v-row
                    ><v-col>
                      <div><b>เนื้อหา :</b> {{ item.txtContent.slice(0, 250) }}</div>
                    </v-col>

                    <v-col align="right">
                      <div v-if="isDateTimeLessThanOrEqual20Minutes(item.datetime)">
                        <v-btn
                          class="text-none"
                          color="medium-emphasis"
                          min-width="92"
                          variant="outlined"
                          rounded
                          @click="goToEditDiary(item.id)"
                          flat
                          id="btn-editdiary"
                        >
                          <img
                            src="@/image/compose.png"
                            alt="Delete Image"
                            width="20"
                            height="20"
                          />
                          แก้ไข
                        </v-btn>
                      </div>
                    </v-col>
                  </v-row>

                  <div><b>วันที่เขียน :</b> {{ item.datetime }}</div>
                </v-card-text>
              </v-card>
            </template>
            <template v-else>
              <v-card class="mb-3">
                <v-card-text style="margin-left: 1%; margin-right: 3%">
                  <h2 id="h2">ไม่พบข้อมูลที่ค้นหา</h2>
                </v-card-text>
              </v-card>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="d-flex justify-center">
        <v-pagination
          v-model="currentPage"
          :length="Math.ceil(postStore.diarys.length / itemsPerPage)"
          :total-visible="5"
        ></v-pagination>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@media (max-width: 767.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1366px) {
  .responsive-card {
    width: 1150px;
    margin: auto;
  }
}

.application {
  font-family: 'Kanit', sans-serif;
}

.bold-text {
  font-weight: bold;
}

#btn-editdiary {
  margin-top: 1rem;
}

#btn-search {
  cursor: pointer;
}

#h2 {
  text-align: center;
}
</style>
