<script setup lang="ts">
import { ref } from 'vue';
import ReportUserComponant from '@/components/report/userReportComponent.vue';
import ReportPostComponant from '@/components/report/postReportComponent.vue';
const activeComponent = ref<string | null>(null);
function showComponent(component: string) {
  activeComponent.value = component;
}
activeComponent.value = 'user'; 
function reloadData() {
}
</script>

<template>
    <v-container>
      <v-card>
        <v-card-title>
  <v-row>
    <v-col cols="auto">
      <h3>Dashboard</h3>
    </v-col>

    <v-col cols="auto">
      <v-btn
        color="success"
        @click="showComponent('user')"
        block 

      >
        ผู้ใช้ & บันทึกประจำวัน
      </v-btn>
    </v-col>
    <v-col cols="auto">
      <v-btn
        color="success"
        @click="showComponent('post')"
        block

      >
        แท็กข้อมูล
      </v-btn>
    </v-col>
  </v-row>
</v-card-title>

        <v-card-text>
        <v-row>
          <v-col>
            <component :is="activeComponent === 'user' ? ReportUserComponant : null" @reloadData="reloadData" />
            <component :is="activeComponent === 'post' ? ReportPostComponant : null" />
          </v-col>
        </v-row>
      </v-card-text>
      </v-card>
    </v-container>
  </template>
