<script setup lang="ts">
import { usePostStore } from '@/stores/post';
import { computed, onMounted, ref } from 'vue';
import Swal from 'sweetalert2';

const postStore = usePostStore();
const search = ref<string>('')
const currentPage = ref(1); 
const itemsPerPage = 5;
onMounted(async () => {
  await postStore.getPostAll();
});

const deletePost = (id:number) => {
  Swal.fire({
    title: 'คุณแน่ใจหรือไม่ที่จะลบโพสต์นี้?',
    text: 'คุณจะไม่สามารถกู้คืนข้อมูลนี้ได้อีกครั้ง!',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#d33',
    cancelButtonColor: '#3085d6',
    confirmButtonText: 'ยืนยัน',
    cancelButtonText: 'ยกเลิก'
  }).then(async (result) => {
    if (result.isConfirmed) {
      postStore.deletePostById(id);
      Swal.fire(
        'ยืนยันการลบโพสต์',
        'โพสต์ของคุณถูกลบแล้ว',
        'success'
      )
    }
    await postStore.getPostAll();
  })
}

const goSearch = () => {
  postStore.getPostBySearch(search.value)
}

const paginatedPostTags = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage;
  const endIndex = startIndex + itemsPerPage;
  return postStore.posts.slice(startIndex, endIndex);
});

</script>

<template>
  <v-container>
    <v-card>
      <v-card-title>
        <v-row>
          <v-col cols="auto">
            <h3>Post All</h3>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-text-field label="ค้นหา" hide-details="auto" class="mb-2 w-100" variant="solo" v-model="search"
            @input="goSearch"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card style="background-color: #AAC8A7; overflow-y: auto" cols="12" md="8" lg="6">
              <v-card-text>
                <template v-if="paginatedPostTags.length > 0">
                <v-card v-for="(item, index) of paginatedPostTags" :key="index" class="mb-3">
                  <v-card-text class="card-title">
                    <v-row>
                      <v-col>
                        <b>หัวข้อ :</b> {{ item.title }}
                      </v-col></v-row>
                    <v-row>
                      <v-col>
                        <b>เนื้อหา :</b> {{ item.txtContent }}
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col align="right">
                        <div>
                          <v-btn class="text-none" color="medium-emphasis" min-width="92" variant="outlined" rounded
                            flat @click="deletePost(item.id)"> <img src="@/image/bin.png" alt="Edit Image" width="20" height="20" /> ลบ
                          </v-btn>
                        </div>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
                </template>
                <template v-else>
                  <v-card class="mb-3">
                    <v-card-text style="margin-left: 1%; margin-right: 3%;text-align: center;">
                      <h2 id="h2">ไม่พบข้อมูลที่ค้นหา</h2>
                    </v-card-text>
                  </v-card>
                </template>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-card-title>
    </v-card>
    <v-row>
      <v-col cols="12" class="text-center mt-4">
        <v-pagination v-model="currentPage" :length="Math.ceil(postStore.posts.length / itemsPerPage)"
          color="primary" class="ap"></v-pagination>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.card-title {
  margin-left: 1%;
  margin-right: 3%;
  word-wrap: break-word;
  white-space: normal;
}
</style>
