<script setup lang="ts">
import { ref, onMounted, computed } from 'vue';
import { useReportStore } from '@/stores/report';
import { usePostStore } from '@/stores/post'
import ApexCharts from 'apexcharts';
const postStore = usePostStore()
const ReportReport = useReportStore();
const isOpen = ref(false);

const toggleCollapse = () => {
    isOpen.value = !isOpen.value;
};

const uniqueTaggedPostsCount = computed(() => ReportReport.uniqueTaggedPostsCount);
const postTags = computed(() => ReportReport.postTags);


const getTagCounts = () => {
    const tagCounts: Record<string, number> = {};
    postTags.value.forEach(item => {
        const tagName = item.tag?.tagName;
        if (tagName) {
            if (tagCounts[tagName]) {
                tagCounts[tagName]++;
            } else {
                tagCounts[tagName] = 1;
            }
        }
    });
    return tagCounts;
};

const generateChartData = () => {
    const tagCounts = getTagCounts();
    return {
        series: Object.values(tagCounts),
        labels: Object.keys(tagCounts)
    };
};

onMounted(async () => {
    await ReportReport.getPostTag();
    await ReportReport.fetchUniqueTaggedPostsCount(); 
    await postStore.getPostAll();

    const chartData = generateChartData();

    const options = {
        chart: {
            type: 'pie'
        },
        labels: chartData.labels,
        series: chartData.series,
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    const chart = new ApexCharts(document.querySelector('#pie-chart'), options);
    chart.render();
});

const exportToCSV = () => {
    if (postTags.value.length === 0) {
        alert('No data to export.');
        return;
    }

    let csvContent = "data:text/csv;charset=utf-8,";
    csvContent += "No.,Title,Content,Tag Name,Role\n";

    postTags.value.forEach((item, index) => {
        let rowData = [
            index + 1,
            item.post?.title,
            item.post?.txtContent,
            item.tag?.tagName,
            item.user?.role
        ];
        csvContent += rowData.join(",") + "\n";
    });

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement("a");
    link.setAttribute("href", encodedUri);
    link.setAttribute("download", "export.csv");
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
};




const $data = { uniqueTaggedPostsCount }; 
</script>

<template>
    <v-container>
        <v-row>
    <v-col cols="12" md="6">
        <v-card class="mx-auto my-4">
            <v-card-title>จำนวนกระทู้ทั้งหมด</v-card-title>
            <v-card-text class="d-flex justify-space-between align-center">
                <span>ผลลัพธ์: {{ postStore.posts.length }}</span>
            </v-card-text>
        </v-card>
        <v-card class="mx-auto my-4">
            <v-card-title>จำนวนที่โพสที่ถูกแท็กแล้ว</v-card-title>
            <v-card-text class="d-flex justify-space-between align-center">
                <span>ผลลัพธ์: {{ $data.uniqueTaggedPostsCount }}</span>
            </v-card-text>
        </v-card>
    </v-col>

    <v-col cols="12" md="6" class="custom-height">
        <v-card class="mx-auto my-4" style="height: 100%;">
            <v-card-title>อัตราส่วนของโพสที่ถูกแท็กแล้ว</v-card-title>
            <div id="pie-chart" style="height: 100%;"></div>
        </v-card>
    </v-col>
</v-row>




        <v-row>
            <v-col>
                <div>
                    <button @click="toggleCollapse">กดเพื่อดูประวัติการแท็ก</button>
                    <div v-if="isOpen">
                        <v-btn class="text-none" color="medium-emphasis" min-width="92" variant="outlined" rounded
                            @click="exportToCSV">Export as CSV</v-btn>
                        <v-table class="text-center">
                            <thead>
                                <tr>
                                    <th class="text-center">No.</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Content</th>
                                    <th class="text-center">Tag Name</th>
                                    <th class="text-center">Role</th>
                                </tr>
                            </thead>
                            <tbody v-if="postTags.length > 0">
                                <tr v-for="(item, index) in postTags" :key="index">
                                    <td class="text-center">{{ index + 1 }}</td>
                                    <td class="text-center">{{ item.post?.title }}</td>
                                    <td class="text-center">{{ item.post?.txtContent }}</td>
                                    <td class="text-center">{{ item.tag?.tagName }}</td>
                                    <td class="text-center">{{ item.user?.role }}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="5" class="text-center">No data</td>
                                </tr>
                            </tbody>
                        </v-table>
                    </div>
                </div>
            </v-col>
        </v-row>

    </v-container>
</template>

<style scoped>
.v-card {
    border-radius: 12px;
    transition: box-shadow 0.3s ease-in-out;
}

.v-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.v-toolbar-title {
    font-weight: bold;
}

</style>
