<script setup lang="ts">
import { onMounted, computed } from 'vue'
import { useReportStore } from '@/stores/report'
const ReportReport = useReportStore()

onMounted(async () => {
  await ReportReport.getDailyReport()
  await ReportReport.getVolunteer()
})

const userList = computed(() => ReportReport.userList)
const countRoles = computed(() => ReportReport.countRoles)
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="role in countRoles" :key="role.user_role" cols="12" md="4">
        <v-card class="my-4">
          <v-card-title class="d-flex justify-space-between align-center">
            {{ role.user_role }}
          </v-card-title>
          <v-card-subtitle class="text-center" style="margin-bottom: 10px">
            <h1>{{ role.count }} คน</h1>
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-col cols="auto">
          <h3>อาสาสมัครที่ลงบันทึก</h3>
        </v-col>
        <v-table class="text-center">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th class="text-center">ชื่อผู้ใช้</th>
              <th class="text-center">จำนวนครั้งที่ลงไดอารี</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in userList" :key="index">
              <td class="text-center">{{ index + 1 }}</td>
              <td class="text-center">{{ item.user_username }}</td>
              <td class="text-center">{{ item.postCount }}</td>
            </tr>
          </tbody>
          <tbody v-if="!userList.length">
            <tr>
              <td colspan="6" class="text-center">No data</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-card {
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}
.v-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.v-toolbar-title {
  font-weight: bold;
}
.custom-card {
  max-height: 400px;
  overflow-y: auto;
}
</style>
