<script setup lang="ts">
import { useAuthStore } from '@/stores/auth'
import { ref} from 'vue'

import { mdiHome, mdiLogout, mdiHistory, mdiMenuClose } from '@mdi/js'

const authStore = useAuthStore()
const user = ref<any | null>(localStorage.getItem('user'))


</script>

<template>
  <v-navigation-drawer expand-on-hover rail app color="brown">
  

    <v-list density="compact" nav>
      <v-list-item v-if="user" :prepend-icon="mdiMenuClose">
        Welcome, {{ user.username }}
      </v-list-item>
      <v-list-item v-else :prepend-icon="mdiMenuClose"> Welcome, Guest </v-list-item>
      <v-list-item
        :prepend-icon="mdiHome"
        title="Post All"
        value="Post All"
        to="/post"
      ></v-list-item>
      <v-list-item
        :prepend-icon="mdiHistory"
        title="History Taging"
        value="History Taging"
        to="/hisTag"
      ></v-list-item>

      <v-list-item @click="authStore.logout" :prepend-icon="mdiLogout" title="Logout" value="Logout"></v-list-item>

    </v-list>
  </v-navigation-drawer>
</template>
