<script lang="ts" setup>
import { usePosttagStore } from '@/stores/posttag'
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'
import router from '@/router'
import { useUserStore } from '@/stores/user'
import Swal from 'sweetalert2'
const userStore = useUserStore()
const route = useRoute()
const posttagStore = usePosttagStore()
let normalIconFilter = ref('grayscale(100%)')
let badIconFilter = ref('grayscale(100%)')
let cannotSpecifiedIconFilter = ref('grayscale(100%)')
let newTag = ref(0)
const routeName = route.params.id

onMounted(async () => {
  await posttagStore.getPostTagById(parseInt(routeName.toString()))
  selectFace()
})

function selectFace() {
  if (posttagStore.posttag?.tag?.id === 1) {
    normalIconFilter.value = 'none'
  }
  if (posttagStore.posttag?.tag?.id === 2) {
    badIconFilter.value = 'none'
  }
  if (posttagStore.posttag?.tag?.id === 3) {
    cannotSpecifiedIconFilter.value = 'none'
  }
}

function selectFaceNormal() {
  if (normalIconFilter.value == 'none') {
    normalIconFilter.value = 'grayscale(100%)'
  } else {
    normalIconFilter.value = 'none'
    badIconFilter.value = 'grayscale(100%)'
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
    newTag.value = 1
  }
}
function selectFaceBad() {
  if (badIconFilter.value == 'none') {
    badIconFilter.value = 'grayscale(100%)'
  } else {
    badIconFilter.value = 'none'
    normalIconFilter.value = 'grayscale(100%)'
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
    newTag.value = 2
  }
}

function selectFaceCannotSpecified() {
  if (cannotSpecifiedIconFilter.value == 'none') {
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
  } else {
    cannotSpecifiedIconFilter.value = 'none'
    normalIconFilter.value = 'grayscale(100%)'
    badIconFilter.value = 'grayscale(100%)'
    newTag.value = 3
  }
}

async function updateHistory(id: number, idPostTag: number) {
  try {
    await posttagStore.updateTag(id, idPostTag)
    await Swal.fire({
      title: 'สำเร็จ!',
      text: 'อัปเดตแท็กเรียบร้อยแล้ว',
      icon: 'success',
      confirmButtonText: 'ตกลง'
    })

    await router.push('/hisTag')
    await posttagStore.getPostTagByUserId(userStore.currentUser.id)
  } catch (error) {
    await Swal.fire({
      title: 'เกิดข้อผิดพลาด!',
      text: 'ไม่สามารถอัปเดตแท็กได้',
      icon: 'error',
      confirmButtonText: 'ตกลง'
    })
  }
}
async function toHistory() {
  await router.push('/hisTag')
}
</script>
<template>
  <v-container class="mt-12 application background">
    <div style="display: flex; align-items: start; margin-top: 1%">
      <img src="../image/arrow.png" width="50" @click="toHistory()" />
      <v-card
        class="full-screen"
        width="1200"
        height="auto"
        style="
          margin-top: 5%;
          overflow-y: auto;
          border-radius: 10px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        "
      >
        <v-row class="text-left ms-4 text-subtitle-1 application mt-8" no-gutters>
          <v-col cols="12" sm="12" md="8" lg="6">
            <v-row>
              <v-typography
                class="font-weight-bold"
                style="margin-bottom: 20px; font-size: 32px; color: #333; text-align: center"
              >
                {{ posttagStore.posttag?.post?.title || 'บันทึกประจำวัน' }}
              </v-typography>
            </v-row>

            <v-row>
              <v-col>
                <p style="margin-bottom: 20px; font-size: 18px; line-height: 1.6; color: #555">
                  {{ posttagStore.posttag?.post?.txtContent }}
                </p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </div>
    <v-row>
      <v-row justify="center" style="margin-left: 7%; margin-top: 3%">
        <v-col cols="auto" class="ma-2">
          <div>
            <img
              src="../image/shy.png"
              alt="Button Image"
              width="60"
              height="60"
              @click="selectFaceNormal()"
              :style="{ filter: normalIconFilter }"
            />
            <p style="text-align: center">ปกติ</p>
          </div>
        </v-col>
        <v-col cols="auto" class="ma-2">
          <div>
            <img
              src="../image/sad.png"
              width="60"
              height="60"
              @click="selectFaceBad()"
              :style="{ filter: badIconFilter }"
            />
            <p style="text-align: center">ไม่ปกติ</p>
          </div>
        </v-col>
        <v-col cols="auto" class="ma-2">
          <div>
            <img
              src="../image/sarcastic.png"
              width="60"
              height="60"
              @click="selectFaceCannotSpecified()"
              :style="{ filter: cannotSpecifiedIconFilter }"
            />
            <p style="text-align: center">ไม่สามารถ</p>
            <p style="text-align: center">ระบุได้</p>
          </div>
        </v-col>
      </v-row>
      <v-col cols="12" sm="2" class="mt-10">
        <v-btn
          block
          rounded="lg"
          size="x-large"
          @click="updateHistory(posttagStore.posttag?.id!, newTag)"
          to="/hisTag"
          >บันทึก</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@media (max-width: 767.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .responsive-card {
    width: 1150px;
    margin: auto;
  }
}

.application {
  font-family: 'Kanit', sans-serif;
}
</style>
