<script setup lang="ts">
import router from '@/router'
import { computed, onMounted, ref } from 'vue'
import { usePosttagStore } from '@/stores/posttag'
import { useUserStore } from '@/stores/user'

const userStore = useUserStore()
const posttagStore = usePosttagStore()
const searchText = ref('')
const currentPage = ref(1)
const itemsPerPage = 2

onMounted(async () => {
  await posttagStore.getPostTagByUserId(userStore.currentUser.id)
})

function goToHistoryTagDe(idPostTag: number) {
  router.push('/hisTagDe/' + idPostTag)
}

function onSearchInput() {
  currentPage.value = 1
  findPostByUserId(searchText.value, userStore.currentUser.id)
}

function findPostByUserId(searchText: string, userId: number) {
  if (searchText === '') {
    posttagStore.getPostTagByUserId(userId)
  } else {
    posttagStore.searchTextByUserId(searchText, userId)
  }
}

const paginatedPostTags = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return posttagStore.posttags.slice(startIndex, endIndex)
})
</script>

<template>
  <v-container
    class="mt-5 application"
    style="background-color: #f9f9e0; width: 100vw; height: auto"
    fluid
  >
    <v-row>
      <v-col cols="12">
        <h1 align="center">ประวัติการแท็ก</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-text-field
          label="ค้นหา"
          hide-details="auto"
          class="mb-2 w-100"
          v-model="searchText"
          @input="onSearchInput"
          variant="solo"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col col="12">
        <v-card
          class="responsive-card my-4"
          cols="12"
          md="8"
          lg="6"
          style="background-color: #aac8a7; overflow-y: auto"
        >
          <v-card-text>
            <template v-if="paginatedPostTags.length > 0">
              <v-card
                v-for="(item, index) in paginatedPostTags"
                :key="index"
                class="mb-3 small"
                style="height: 200px"
              >
                <v-row>
                  <v-col>
                    <v-card-title class="card-title">
                      <div>
                        <h4>หัวข้อ :</h4>
                        {{ item.post?.title || 'บันทึกประจำวัน' }}
                      </div>
                    </v-card-title>
                  </v-col>

                  <v-col align="right">
                    <v-btn
                      class="text-none mt-1 mr-2"
                      color="medium-emphasis"
                      min-width="92"
                      variant="outlined"
                      rounded
                      @click="goToHistoryTagDe(item.id)"
                      flat
                      ><img src="../image/compose.png" alt="Edit Image" width="20" height="20" />
                      แก้ไข
                    </v-btn>
                  </v-col>
                </v-row>

                <v-divider></v-divider>
                <v-card-text style="margin-left: 1%; margin-right: 3%">
                  <div><b>เนื้อหา:</b> {{ item.post?.txtContent.slice(0, 250) }}</div>
                  <div><b>แท็ก:</b> {{ item.tag?.tagName }}</div>
                </v-card-text>
              </v-card>
            </template>

            <template v-else>
              <v-card class="mb-3">
                <v-card-text
                  style="margin-left: 1%; margin-right: 3%; display: flex; justify-content: center"
                >
                  <h2 id="h2">ไม่พบข้อมูลที่ค้นหา</h2>
                </v-card-text>
              </v-card>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" class="text-center mt-4">
        <v-pagination
          v-model="currentPage"
          :length="Math.ceil(posttagStore.posttags.length / itemsPerPage)"
          color="primary"
          class="ap"
        ></v-pagination>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.application {
  font-family: 'Kanit', sans-serif;
  background-color: #f9f9e0;
  width: 100vw;
  height: 100vh;
}

.bold-text {
  font-weight: bold;
}

.card-title {
  margin-left: 1%;
  margin-right: 3%;
  word-wrap: break-word;
  white-space: normal;
}

h1 {
  font-size: 24px;
}

@media (max-width: 600px) {
  .responsive-card {
    width: 100%;
    /* ทำให้การ์ดขยายตามขนาดของหน้าจอ mobile */
  }

  .card-title {
    font-size: 18px;
    /* ลดขนาดตัวหนังสือสำหรับมือถือ */
  }
}
</style>
