<script lang="ts" setup>
import router from '@/router'
import { usePostStore } from '@/stores/post'
import { useRandomStore } from '@/stores/random'
import { useUserStore } from '@/stores/user'
import { onMounted, reactive, ref, toRaw } from 'vue'
import { useRoute } from 'vue-router'
import { mdiBullhorn } from '@mdi/js'
import Swal from 'sweetalert2'
import { useReportStore } from '@/stores/report'
const route = useRoute()
const postStore = usePostStore()
const userStore = useUserStore()
const randomStore = useRandomStore()
const reportStore = useReportStore()

let normalIconFilter = ref('grayscale(100%)')
let badIconFilter = ref('grayscale(100%)')
let cannotSpecifiedIconFilter = ref('grayscale(100%)')
let picked = ref()
// const routeName = route.params.id

onMounted(async () => {
  await postStore.getPosts(userStore.currentUser.id)
  if (postStore.posts.length === 0) {
    router.push('/soldout')
    return
  }
  await randomStore.random()
  await postStore.getPostById(randomStore.randomPageNumber)
  router.push(`/seeAll/${randomStore.randomPageNumber}`)
})

function selectFaceNormal() {
  if (normalIconFilter.value == 'none') {
    normalIconFilter.value = 'grayscale(100%)'
    picked.value = null
  } else {
    normalIconFilter.value = 'none'
    badIconFilter.value = 'grayscale(100%)'
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
    picked.value = 1
  }
}
function selectFaceBad() {
  if (badIconFilter.value == 'none') {
    badIconFilter.value = 'grayscale(100%)'
    picked.value = null
  } else {
    badIconFilter.value = 'none'
    normalIconFilter.value = 'grayscale(100%)'
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
    picked.value = 2
  }
}

function selectFaceCannotSpecified() {
  if (cannotSpecifiedIconFilter.value == 'none') {
    cannotSpecifiedIconFilter.value = 'grayscale(100%)'
    picked.value = null
  } else {
    cannotSpecifiedIconFilter.value = 'none'
    normalIconFilter.value = 'grayscale(100%)'
    badIconFilter.value = 'grayscale(100%)'
    picked.value = 3
  }
}

const checkPicked = async () => {
  if (picked.value != null) {
    await postStore.postPostTag(postStore.post?.id!, picked.value)
    postStore.removePostById(postStore.post?.id!)
  } else {
    Swal.fire({
      icon: 'warning',
      title: 'กรุณาระบุแท็กก่อน',
      text: 'โปรดเลือกตัวเลือกก่อนที่จะดำเนินการต่อ',
      confirmButtonText: 'ตกลง'
    })
  }
  goToPage()
  return picked.value
}

function openReportForm() {
  if (postStore.post?.id) {
    reportData.post_id = postStore.post.id
    const userData = JSON.parse(localStorage.getItem('user') || '{}')
    reportData.user_id = userData.id
    dialogVisible.value = true
  } else {
    console.error('Post ID not found!')
  }
}
function resetFilters() {
  normalIconFilter.value = 'grayscale(100%)'
  badIconFilter.value = 'grayscale(100%)'
  cannotSpecifiedIconFilter.value = 'grayscale(100%)'
  picked.value = null
}

async function goToPage() {
  await randomStore.random()
  if (postStore.posts.length === 0) {
    router.push('/soldout')
    return
  }
  router.push(`/seeAll/${randomStore.randomPageNumber}`)
  resetFilters()
}

const dialogVisible = ref(false)

const reportData = reactive({
  user_id: userStore.currentUser.id,
  post_id: 0,
  reason: ''
})
async function submitReport() {
  if (!reportData.reason || !reportData.post_id || !reportData.user_id) {
    Swal.fire({
      icon: 'error',
      title: 'กรุณากรอกข้อมูลให้ครบถ้วน',
      confirmButtonText: 'ตกลง'
    })
    return
  }
  await postStore.postPostTag(postStore.post?.id!, 3)
  await reportStore.reportPost(reportData)
  dialogVisible.value = false
  await postStore.getPosts(userStore.currentUser.id)
  reportData.reason = ''
  goToPage()
}
</script>
<template>
  <v-container class="application">
    <v-dialog v-model="dialogVisible" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">รายงานโพสต์ไม่เหมาะสม</span>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-textarea label="เหตุผล" v-model="reportData.reason" required />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn @click="dialogVisible = false">ยกเลิก</v-btn>
          <v-btn color="primary" @click="submitReport">ยืนยัน</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-row justify="end" class="mt-4">
      <v-col cols="12" class="text-right">
        <p :style="{ fontSize: '24px' }">จำนวนที่เหลือ : {{ postStore.posts.length }}</p>
      </v-col>
    </v-row>

    <v-row justify="center" class="custom-layout">
      <v-col cols="12">
        <v-card class="responsive-card my-4" cols="12" md="8" lg="6">
          <v-btn
            icon
            style="position: absolute; top: 16px; right: 16px"
            color="yellow"
            @click="openReportForm"
          >
            <v-icon>{{ mdiBullhorn }}</v-icon>
          </v-btn>

          <v-card-text>
            <v-row>
              <v-col cols="12">
                <h2>
                  {{ postStore.post?.title }}
                </h2>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <p>{{ postStore.post?.txtContent }}</p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row justify="center" class="custom-layout">
      <v-col cols="auto" class="ma-2">
        <div>
          <img
            src="../image/shy.png"
            alt="Button Image"
            width="60"
            height="60"
            @click="selectFaceNormal()"
            :style="{ filter: normalIconFilter }"
          />
          <p style="text-align: center">ปกติ</p>
        </div>
      </v-col>
      <v-col cols="auto" class="ma-2">
        <div>
          <img
            src="../image/sad.png"
            width="60"
            height="60"
            @click="selectFaceBad()"
            :style="{ filter: badIconFilter }"
          />
          <p style="text-align: center">ไม่ปกติ</p>
        </div>
      </v-col>
      <v-col cols="auto" class="ma-2">
        <div>
          <img
            src="../image/sarcastic.png"
            width="60"
            height="60"
            @click="selectFaceCannotSpecified()"
            :style="{ filter: cannotSpecifiedIconFilter }"
          />
          <p style="text-align: center">ไม่สามารถ</p>
          <p style="text-align: center">ระบุได้</p>
        </div>
      </v-col>
      <v-col cols="12" sm="auto" class="mt-4">
        <v-btn block rounded="lg" size="x-large" @click="checkPicked">บันทึก</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
@media (max-width: 767.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .responsive-card {
    width: 1150px;
    margin: auto;
  }
}

.application {
  font-family: 'Kanit', sans-serif;
  background-color: #f9f9e0;
  width: 100vw;
}
</style>
