<script setup lang="ts"></script>
<template>
  <div class="custom">
    <img src="../image/heart.png" alt="login-image" />
    <p>คุณได้ทำการแท็กข้อมูลหมดแล้ว</p>
  </div>
</template>
<style scoped>
@media (max-width: 767.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .responsive-card {
    width: 90%;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .responsive-card {
    width: 1150px;
    margin: auto;
  }
}

.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.custom p {
  font-size: 2.5rem;
  margin-top: 3rem;
}

.custom img {
  height: 15rem;
  width: 15rem;
}
</style>
