<script setup lang="ts">
import MainLayout from './components/Layout/MainLayout.vue'
</script>
<template>
  <MainLayout class="custom-layout" fluid></MainLayout>
</template>

<style scoped>
.custom-layout {
  background-color: #f9f9e0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
}
</style>
